.navbar {
    color: #171321;
}

.navbar a {
    color: #171321;
}

.navbar .title:hover {
    color: #171321;
}

.navbar-brand .title {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.navbar-brand img {
    margin-top: .5rem;
    margin-right: .5rem;
}
