// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #292929;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

/* Base color */
$base-color: #292d34;
$base-color-light: rgba(24, 28, 33, 0.06);


/* General overrides */
// $body-background-color: #0862ff;
$body-background-color: var(--main-bg-color, #0862ff);
$title-size: $size-1;

/* NavBar: specifics */
$navbar-background-color: $body-background-color;

/* Footer: specifics */
$footer-background-color: transparent;
$footer-padding: 1.5rem;

/*  Container Width */
$fullhd: 980px;
