/* Theme style (colors & sizes) */
@import "theme-default";

/* Core Libs & Lib configs */
@import "libs/all";

/* Theme components */
@import "nav-bar";
@import "content";
@import "footer";
@import "error";

html {
    background-color: #06111C !important;
} 

.card {
    border-radius: 8px;
    border: 0;
    box-shadow: 0 15px 45px rgb(16 30 54 / 15%);
    box-shadow: none;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.dotted {
    position: relative;
    background-color: #F2F1F5;
    border-radius: 15px;
}

.dotted .column {
    position: relative;
    z-index: 100;
}

@media (min-width: 768px) {
    .head {
        padding: 1.1rem;
        padding-top: 3rem;
        background: white;
    }

    .dotted {
        padding: 3rem;
    }
}

.content ul {
    margin: 0;
}

.collapse-trigger .field {
    padding: 0.5rem 0 1rem 0;
}

nav.tabs {
    border-bottom: 1px solid #dbdbdb;
}

.b-tabs .tab-content {
    padding: 1.5rem;
}

.tabs a {
    padding: 1em 1.5em;
}

.field.no-padding,
.field.no-padding .control {
    margin-bottom: 0;
}

.action-icon {
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid $primary;
    width: 1.8rem;
    height: 1.8rem;
    color: $primary;
    opacity: 0.8;
}

.action-icon:hover {
    opacity: 1;
}

.label {
    font-weight: 600;
}

.dark .icon {
    color: $primary;
}

.underline {
    text-decoration: underline;
}

.title,
.subtitle {
    color: #171321;
}

.white,
.white strong,
.white .button {
    color: white;
}

.button.is-text {
    text-decoration: none;
}

.button.is-text:hover,
.button.is-text.is-hovered,
.button.is-text:focus,
.button.is-text.is-focused {
    background: rgba(0, 0, 0, 0.1);
}

.white .button.is-text:hover,
.white .button.is-text.is-hovered,
.white .button.is-text:focus,
.white .button.is-text.is-focused {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.subtitle {
    margin-top: 0 !important;
}

.subtitle strong {
    color: #171321;
}

.subtitle a {
    text-decoration: underline;
    color: #171321;
}

.textarea:not([rows]) {
    resize: none;
    min-height: 12em;
    max-height: 36em;
}

.file--block .textarea:not([rows]) {
    min-height: 6em;
}
.dark {
    /* white-space: nowrap; */
    word-break: break-all;
}

.tabs li.is-active {
    font-weight: 500;
}

.tabs li.is-active a {
    color: #171321;
}

.upload .upload-draggable.is-danger,
.upload .upload-draggable.is-hovered.is-danger {
    border-color: #f14668;
    background: rgba(241, 70, 104, 0.05);
}

.blank .cl {
    font-size: 1.4rem;
    text-align: center;
    margin: 2rem 0;
}

.blank .cl .tag {
    margin: 5px;
}

.blank p {
    margin-bottom: 1rem;
}

.blank ul:not(.menu-list) {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.blank ul:not(.menu-list) li {
    list-style-type: circle;
}

.blank h1.title {
    font-size: 3.6rem;
}

.blank .subtitle.is-3 {
    font-size: 2.4rem;
}

.blank h2.title {
    margin-bottom: 0.5rem;
}

.created .textarea:not([rows]) {
    min-height: 3em;
}

.hero-body {
    background-color: #ffffff !important;
}

.blank {
    background: #ffffff;
}

.navbar-item img {
    min-height: 2.2rem;
}

.card.bordered {
    border: 1px solid #e8e7eb;
    box-shadow: 0 8px 50px -24px #d1d0d3;
    border-radius: 0;
}

.card .content.back {
    background: #F2F1F5;
    padding: 1.5rem;
    min-height: 25rem;
}

.card .content.back .title {
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.card .content.back.colorful {
    background: #d3d9e0;
}

.price-details {
    display: flex;
    margin-bottom: 2rem;
}

.price-details .price {
    font-size: 5rem;
    font-weight: bold;
    line-height: 4rem;
    top: 0;
    letter-spacing: -.2rem;
    color: #06111C;
}

.price-details .details {
    max-width: 150px;
    margin-left: .5rem;
}

.price-details .details p {
    font-size: .8rem;
    margin-bottom: .1rem;
}

.card .content.back p.note {
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: .8rem;
}

.card.colorful {
    background: #d3d9e0;
}

p.is-medium {
    font-size: 1.2rem;
}


.blank .column .section:first-child {
    padding-top: 0;
}

.blank .column .section {
    padding-left: 0;
    padding-right: 0;
}

.mdi-check {
    color: green;
    font-weight: bold;
}

ul.fake {
    margin-left: 1rem !important;
}

ul.fake li {
    list-style-type: none !important;
}

.shape {
    background: var(--main-bg-color, transparent);
    position: absolute;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    top: -3.6rem;
    left: 0;
    right: 0;
    width: 100%;
    aspect-ratio : 1 / 1;
    border-radius: 100%;
}

@media (min-width: 480px) {
    .shape {
        width: 28rem;
        height: 28rem;
        border-radius: 28rem;
    }
}

@media (min-width: 768px) {
    .shape {
        left: -3.6rem;
        margin-left: 0;
        margin-right: 0;
    }
}

.hero-head.head {
    position: relative;
    z-index: 200;
    background: #ffffff;
}

.button.nuxt-link-active.is-text {
    color: #171321;
}